

body {
    background-color: brown;
    padding: 4em 10% 0 10% ;
}

main {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: hidden;
    background-color: ghostwhite;
    padding: 2em;
}

#finances {
    border: 1px solid lightgrey;
    border-radius:4px;
    padding: 1em 1em 0.5em 1em;
    overflow: hidden;

}

#work-btn, #get-loan-btn {
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

#buy-btn {
    margin-top: 0.75em;
    margin-bottom: 1em;
}

#purchase {
    margin: 1em 0 1em 0;
}

@media screen and (max-width: 480px) {
    body {
        padding: 1em 3% 0 3% ;
    }
    h2 {
        font-size: 1.5em;
    }
}

